#for metaData and og Image
HOST_URL="https://example.com"
EMAIL_PW="provided by google"
EMAIL_USER="send@emailto.com"
SUPABASE_STORAGE="storage url"
SUPABASE_PUBLIC_ANON_KEY=""
DATABASE_URL=""
NEXTAUTH_SECRET="openssl rand -base64 32"
NEXTAUTH_URL=""

JWT_USER_ID_SECRET="openssl rand -base64 32"