.sidebar {
  z-index: 23;
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

.active {
  width: 100%;
  opacity: 1;
  overflow-y: auto; /* Add this line */
}
.layer {
  background: none;
}

.items {
  border: 3px solid blue;
  min-height: 100vh;
  /* height: 100vh; */
  background-color: var(--white);
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header {
  padding: 1em;
  justify-content: space-between;
  /* position: fixed; */
  min-height: 4em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.menuItems {
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* padding: 2em; */
  /* top: 3em; */
  /* min-height: 100%; */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  justify-content: center;
  gap: 1em;
  border: 3px solid red;
  /* margin-top: 4em; */
}
.cartItems {
  cursor: pointer;
  border: 2px solid black;
  /* height: 100%; */
}
