.wrap {
  min-height: 100%;
}
.treeWrap {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2em; */
  margin: 0.5em;
  border: 2px solid black;
}

.alt {
  margin-left: 4em;
}

.name {
  border: 2px solid red;
  display: flex;
  width: fit-content;
  padding: 0.5em;
  gap: 0.5em;
}
