.wrap {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.5em;
  margin: 0.3em;
}
.invalid {
  border: 2px solid red;
}
.input {
  border: 2px solid green;
}
